# Base de datos
DATABASE_URL="postgresql://username:password@localhost:5432/cartrack"

# JWT Configuration
JWT_SECRET="cartrack_super_secret_key_2024_development"
JWT_EXPIRES_IN="7d"

# Servidor
PORT=3000
NODE_ENV="development"

# Frontend URL para CORS
FRONTEND_URL="http://localhost:3001"