# Base de datos - External Database URL
DATABASE_URL="postgresql://cartrack_user:ylv5TbNzJ1JupsvrPe2bt8A70RAZ2G3G@dpg-d3qic0c9c44c73cq09q0-a.oregon-postgres.render.com:5432/cartrack"

# JWT Configuration
JWT_SECRET="secret_key"
JWT_EXPIRES_IN="7d"

# Servidor
PORT=3000
NODE_ENV="development"

# Frontend URL para CORS
FRONTEND_URL="http://localhost:4200"