# Base de datos - External Database URL
DATABASE_URL="postgresql://cartrack_capstone_user:N3bABRCWW3lCEXlOjjuv1spUZKzeDUw7@dpg-d4d658ogjchc73dpj9ig-a.oregon-postgres.render.com/cartrack_capstone"

# JWT Configuration
JWT_SECRET="secret_key"
JWT_EXPIRES_IN="7d"

# Servidor
PORT=3000
NODE_ENV="development"

# Frontend URL para CORS
FRONTEND_URL="http://localhost:4200"